nav{
    background-color: #272727;
}
hr{
    width: 75%;
    margin-left: 12.5%;
    color: #000;
}
.cartas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.cartas div{
    margin: 2.5%;
}
.ms-3{
    margin-right: 5%;
    font-size: 25px;
}

@media (max-width: 430px) {
    .h5titulo{
        font-size: 15px;
    }
    .ptexto{
        font-size: 10px;
    }
}

/*----------------------------------------------------------*/
